body{ font-family: 'Xanh Mono', monospace;;}
.txt{
     color:black;
     text-align:center;
    }
h1{
    font-size: 50px;
    color:orange;
}
.half-width{
    width:40%;
    float:left;
    margin: 2%;
    padding:7%;
}
.half-width img {
    width:100%;
}
section{
    height:auto;
    padding-bottom: 5px;
}
p { color: green;}
.link-btn{
    text-decoration: none;
    background-color:green;
    padding:10px 20px;
    border-radius: 10px;
    color:white;
}
.btn-warning {
    background-color: green;
    color:white;
}
.half-width2{
    margin-top:2px;
    width:50%;
    float:left;
    padding: 8%;
    height: auto;
    text-align:justify;
    font-size:12px;
    
    
}
.half-width2 img {
    width:100%;
}
.for2 {
    display:flex;
}